<div class="container">
  <div class="text">
    <h1>Centre Pokémon</h1>
    <p>Soigner votre équipe ?</p>
    <button *ngIf="!hubService.pending && !healed" (click)="usePokeCenter()">Soigner</button>
    <button *ngIf="!hubService.pending && healed" (click)="nextTurn()">Continuer</button>
  </div>
  <div class="pokeContainer">
    <div class="pkmnCard" *ngFor="let pkmn of this.hubService.Player.team">

      <div class="pokeName">
        <img src="{{pkmn.frontSprite}}" [ngStyle]="{'filter': pkmn.currHp <= 0 ? 'grayscale(1)' : 'none'}" >
        <p>{{pkmn.nameFr}}</p>
      </div>
      <div class="ailments">
        <p *ngIf="pkmn.isParalyzed" class="ailmentCard paralysie">PAR</p>
        <p *ngIf="pkmn.isBurning" class="ailmentCard brulure">BRU</p>
        <p *ngIf="pkmn.isPoisoned" class="ailmentCard poison">PSN</p>
        <p *ngIf="pkmn.isFrozen" class="ailmentCard gel">GEL</p>
        <p *ngIf="pkmn.isSleeping > 0" class="ailmentCard sleep">DOR</p>
        <p class="fakeAilment"></p>
      </div>

      <app-hp-bar [BaseHP]="pkmn.baseHp" [CurrHP]="pkmn.currHp" ></app-hp-bar>
    </div>
  </div>
</div>
