.gameField{
  display: flex;
  flex: 3 1 auto;
  flex-direction: row;
  justify-content: space-between;
}

.turnField{
  width: 80%;
  padding-top: 6%;
  margin-left: 15%;
}

.myTeam{
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
button:hover{
  background-color: #04b0ff;
}
button{
  width: 150px;
  height: 60px;
  border: #0ac6cb 2px solid;
}

.endedPveTeam{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.endedPvePkmn{
  margin: 50px;
}
