<div class="gameField">
  <div class="turnField">
    <div *ngIf="(this.turnType === 'WildFight' || this.turnType === 'TrainerFight') && this.opponent !== undefined && this.hubService.Player.team.length > 0">
      <div *ngIf="this.turnType === 'TrainerFight'">
        <app-trainer-fight [Foe]="opponent"/>
      </div>
      <app-wild-fight [Foe]="opponent" (FoeIsDead)="newTurn()" />
    </div>
    <div *ngIf="this.turnType === 'TrainerFight' && this.opponent !== undefined && this.hubService.Player.team.length > 0">

    </div>
    <div *ngIf="this.turnType === 'PokeCenter'">
      <app-poke-center />
    </div>
  </div>

  <div class="myTeam" *ngIf="this.hubService.Player?.team">
    <app-my-team [Team]="this.hubService.Player.team" />
  </div>
</div>

