.trainerCards{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timerChoice{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

h2{
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}
