<section class="bracket frame frame--gold">
  <h2 class="frame-title">Tournoi</h2>

  <div class="champion">
    <span class="champion__label">Champion</span>
    <span class="champion__slot" *ngIf="!isFinished">?</span>
    <ng-container *ngIf="isFinished">
      <img class="champion__sprite pixel" src="assets/trainers-sprites/{{ getSprite(bracket.champion!) }}.png" [alt]="getName(bracket.champion!)">
      <span class="champion__name">{{ getName(bracket.champion!) }}</span>
    </ng-container>
  </div>

  <div class="round" *ngFor="let matches of rounds">
    <div class="match" *ngFor="let match of matches">
      <ng-container *ngFor="let playerId of match; let last = last">
        <div class="duelist" [class.is-unknown]="playerId === '?'">
          <ng-container *ngIf="playerId !== '?'; else unknown">
            <img class="duelist__sprite pixel" src="assets/trainers-sprites/{{ getSprite(playerId) }}.png" [alt]="getName(playerId)">
            <span class="duelist__name">{{ getName(playerId) }}</span>
            <span class="duelist__team">
              <img *ngFor="let member of getTeam(playerId)" src="assets/balls-sprites/Pokeball.webp" alt="">
            </span>
          </ng-container>
          <ng-template #unknown><span class="duelist__unknown">?</span></ng-template>
        </div>
        <span class="match__vs" *ngIf="!last">VS</span>
      </ng-container>
    </div>
  </div>

  <div class="bracket__actions" *ngIf="!isFinished">
    <button type="button" class="btn btn--primary btn--lg" *ngIf="hubService.Player.isHost" (click)="startTournament()">{{ hasStarted ? 'Lancer le tour suivant ▶' : 'Lancer le tournoi ▶' }}</button>
    <p class="bracket__wait" *ngIf="!hubService.Player.isHost"><span class="ball-loader"></span> En attente du lancement par l’hôte…</p>
  </div>
  <p class="bracket__end" *ngIf="isFinished">Tournoi terminé : {{ getName(bracket.champion!) }} est le champion !</p>
</section>
