.pokemon{
  border: #000 1px solid;
  margin: 3px;
  padding: 3px;
  width: 250px;
}

.pokemon:hover{
  cursor: pointer;
}

.pokemonSprite{
  & img{
    width: 150px;
  }
  display: flex;
  justify-content: center;
}
