<button type="button" class="starter" role="radio" [attr.aria-checked]="selected" [class.is-selected]="selected">
  <span class="starter__dex">N°{{ Pokemon.id | number:'3.0-0' }}</span>
  <div class="starter__stage">
    <span class="starter__platform"></span>
    <img class="pixel" [src]="Pokemon.sprites.frontDefault" [alt]="Pokemon.nameFr">
  </div>
  <span class="starter__name">{{ Pokemon.nameFr }}</span>
  <div class="starter__types">
    <app-type-card *ngFor="let type of Pokemon.types" [Type]="type" [Size]="'76px'"/>
  </div>
</button>
